In [2]:
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt

In [204]:
pd.set_option("display.max_columns", None)
pd.set_option("display.float_format", lambda x: '%.4f'%x)

In [205]:
df_ = pd.read_csv("/Users/huseyinefkanalp/Desktop/DataScience/Miuul/FLOMusteriSegmentasyonu/flo_data_20k.csv")

In [206]:
df = df_.copy()
df.head(10)

,master_id,order_channel,last_order_channel,first_order_date,last_order_date,last_order_date_online,last_order_date_offline,order_num_total_ever_online,order_num_total_ever_offline,customer_value_total_ever_offline,customer_value_total_ever_online,interested_in_categories_12
0,cc294636-19f0-11eb-8d74-000d3a38a36f,Android App,Offline,2020-10-30,2021-02-26,2021-02-21,2021-02-26,4.0000,1.0000,139.9900,799.3800,[KADIN]
1,f431bd5a-ab7b-11e9-a2fc-000d3a38a36f,Android App,Mobile,2017-02-08,2021-02-16,2021-02-16,2020-01-10,19.0000,2.0000,159.9700,1853.5800,"[ERKEK, COCUK, KADIN, AKTIFSPOR]"
2,69b69676-1a40-11ea-941b-000d3a38a36f,Android App,Android App,2019-11-27,2020-11-27,2020-11-27,2019-12-01,3.0000,2.0000,189.9700,395.3500,"[ERKEK, KADIN]"
3,1854e56c-491f-11eb-806e-000d3a38a36f,Android App,Android App,2021-01-06,2021-01-17,2021-01-17,2021-01-06,1.0000,1.0000,39.9900,81.9800,"[AKTIFCOCUK, COCUK]"
4,d6ea1074-f1f5-11e9-9346-000d3a38a36f,Desktop,Desktop,2019-08-03,2021-03-07,2021-03-07,2019-08-03,1.0000,1.0000,49.9900,159.9900,[AKTIFSPOR]
5,e585280e-aae1-11e9-a2fc-000d3a38a36f,Desktop,Offline,2018-11-18,2021-03-13,2018-11-18,2021-03-13,1.0000,2.0000,150.8700,49.9900,[KADIN]
6,c445e4ee-6242-11ea-9d1a-000d3a38a36f,Android App,Android App,2020-03-04,2020-10-18,2020-10-18,2020-03-04,3.0000,1.0000,59.9900,315.9400,[AKTIFSPOR]
7,3f1b4dc8-8a7d-11ea-8ec0-000d3a38a36f,Mobile,Offline,2020-05-15,2020-08-12,2020-05-15,2020-08-12,1.0000,1.0000,49.9900,113.6400,[COCUK]
8,cfbda69e-5b4f-11ea-aca7-000d3a38a36f,Android App,Android App,2020-01-23,2021-03-07,2021-03-07,2020-01-25,3.0000,2.0000,120.4800,934.2100,"[ERKEK, COCUK, KADIN]"
9,1143f032-440d-11ea-8b43-000d3a38a36f,Mobile,Mobile,2019-07-30,2020-10-04,2020-10-04,2019-07-30,1.0000,1.0000,69.9800,95.9800,"[KADIN, AKTIFSPOR]"

### Data Understanding

In [207]:
df.columns

Index(['master_id', 'order_channel', 'last_order_channel', 'first_order_date',
       'last_order_date', 'last_order_date_online', 'last_order_date_offline',
       'order_num_total_ever_online', 'order_num_total_ever_offline',
       'customer_value_total_ever_offline', 'customer_value_total_ever_online',
       'interested_in_categories_12'],
      dtype='object')

In [208]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
order_num_total_ever_online,19945.0000,3.1109,4.2256,1.0000,1.0000,2.0000,4.0000,200.0000
order_num_total_ever_offline,19945.0000,1.9139,2.0629,1.0000,1.0000,1.0000,2.0000,109.0000
customer_value_total_ever_offline,19945.0000,253.9226,301.5329,10.0000,99.9900,179.9800,319.9700,18119.1400
customer_value_total_ever_online,19945.0000,497.3217,832.6019,12.9900,149.9800,286.4600,578.4400,45220.1300

In [209]:
df.isnull().sum()

master_id                            0
order_channel                        0
last_order_channel                   0
first_order_date                     0
last_order_date                      0
last_order_date_online               0
last_order_date_offline              0
order_num_total_ever_online          0
order_num_total_ever_offline         0
customer_value_total_ever_offline    0
customer_value_total_ever_online     0
interested_in_categories_12          0
dtype: int64

In [210]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19945 entries, 0 to 19944
Data columns (total 12 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   master_id                          19945 non-null  object
 1   order_channel                      19945 non-null  object
 2   last_order_channel                 19945 non-null  object
 3   first_order_date                   19945 non-null  object
 4   last_order_date                    19945 non-null  object
 5   last_order_date_online             19945 non-null  object
 6   last_order_date_offline            19945 non-null  object
 7   order_num_total_ever_online        19945 non-null  float64
 8   order_num_total_ever_offline       19945 non-null  float64
 9   customer_value_total_ever_offline  19945 non-null  float64
 10  customer_value_total_ever_online   19945 non-null  float64
 11  interested_in_categories_12        19945 non-null  object
dtypes: float64(4), object(8)
memory usage: 1.8+ MB

### Data Preparation

In [211]:
df["order_num_total"] = df["order_num_total_ever_online"] + df["order_num_total_ever_offline"]
df["customer_value_total"] = df["customer_value_total_ever_offline"] + df["customer_value_total_ever_online"]
df.head()

,master_id,order_channel,last_order_channel,first_order_date,last_order_date,last_order_date_online,last_order_date_offline,order_num_total_ever_online,order_num_total_ever_offline,customer_value_total_ever_offline,customer_value_total_ever_online,interested_in_categories_12,order_num_total,customer_value_total
0,cc294636-19f0-11eb-8d74-000d3a38a36f,Android App,Offline,2020-10-30,2021-02-26,2021-02-21,2021-02-26,4.0000,1.0000,139.9900,799.3800,[KADIN],5.0000,939.3700
1,f431bd5a-ab7b-11e9-a2fc-000d3a38a36f,Android App,Mobile,2017-02-08,2021-02-16,2021-02-16,2020-01-10,19.0000,2.0000,159.9700,1853.5800,"[ERKEK, COCUK, KADIN, AKTIFSPOR]",21.0000,2013.5500
2,69b69676-1a40-11ea-941b-000d3a38a36f,Android App,Android App,2019-11-27,2020-11-27,2020-11-27,2019-12-01,3.0000,2.0000,189.9700,395.3500,"[ERKEK, KADIN]",5.0000,585.3200
3,1854e56c-491f-11eb-806e-000d3a38a36f,Android App,Android App,2021-01-06,2021-01-17,2021-01-17,2021-01-06,1.0000,1.0000,39.9900,81.9800,"[AKTIFCOCUK, COCUK]",2.0000,121.9700
4,d6ea1074-f1f5-11e9-9346-000d3a38a36f,Desktop,Desktop,2019-08-03,2021-03-07,2021-03-07,2019-08-03,1.0000,1.0000,49.9900,159.9900,[AKTIFSPOR],2.0000,209.9800

In [212]:
#içerisinde date geçen değişkenleri datetime tipine çevirdik 
date_columns = df.columns[df.columns.str.contains("date")]
df[date_columns] = df[date_columns].apply(pd.to_datetime)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19945 entries, 0 to 19944
Data columns (total 14 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   master_id                          19945 non-null  object
 1   order_channel                      19945 non-null  object
 2   last_order_channel                 19945 non-null  object
 3   first_order_date                   19945 non-null  datetime64[ns]
 4   last_order_date                    19945 non-null  datetime64[ns]
 5   last_order_date_online             19945 non-null  datetime64[ns]
 6   last_order_date_offline            19945 non-null  datetime64[ns]
 7   order_num_total_ever_online        19945 non-null  float64
 8   order_num_total_ever_offline       19945 non-null  float64
 9   customer_value_total_ever_offline  19945 non-null  float64
 10  customer_value_total_ever_online   19945 non-null  float64
 11  interested_in_categories_12        19945 non-null  object
 12  order_num_total                    19945 non-null  float64
 13  customer_value_total               19945 non-null  float64
dtypes: datetime64[ns](4), float64(6), object(4)
memory usage: 2.1+ MB

### Variable Analysis

In [213]:
df.groupby("order_channel").agg({"master_id": "count",
                                "order_num_total": "sum",
                                "customer_value_total": "sum"})

               master_id  order_num_total  customer_value_total
order_channel
Android App         9495       52269.0000          7819062.7600
Desktop             2735       10920.0000          1610321.4600
Ios App             2833       15351.0000          2525999.9300
Mobile              4882       21679.0000          3028183.1600

In [214]:
#en fazla kazandıran 10 müşteri
df.sort_values(by= "customer_value_total", ascending = False).head(10)

,master_id,order_channel,last_order_channel,first_order_date,last_order_date,last_order_date_online,last_order_date_offline,order_num_total_ever_online,order_num_total_ever_offline,customer_value_total_ever_offline,customer_value_total_ever_online,interested_in_categories_12,order_num_total,customer_value_total
11150,5d1c466a-9cfd-11e9-9897-000d3a38a36f,Android App,Desktop,2013-10-11,2021-04-30,2021-04-30,2020-12-24,200.0000,2.0000,684.9700,45220.1300,"[AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]",202.0000,45905.1000
4315,d5ef8058-a5c6-11e9-a2fc-000d3a38a36f,Android App,Android App,2018-08-06,2021-02-23,2021-02-23,2020-07-06,67.0000,1.0000,130.4900,36687.8000,"[AKTIFCOCUK, ERKEK, KADIN, AKTIFSPOR]",68.0000,36818.2900
7613,73fd19aa-9e37-11e9-9897-000d3a38a36f,Ios App,Offline,2014-01-14,2021-05-18,2021-01-30,2021-05-18,81.0000,1.0000,1263.7600,32654.3400,"[ERKEK, COCUK, KADIN, AKTIFSPOR]",82.0000,33918.1000
13880,7137a5c0-7aad-11ea-8f20-000d3a38a36f,Ios App,Offline,2021-03-01,2021-04-13,2021-03-18,2021-04-13,10.0000,1.0000,538.9400,30688.4700,"[ERKEK, KADIN, AKTIFSPOR]",11.0000,31227.4100
9055,47a642fe-975b-11eb-8c2a-000d3a38a36f,Android App,Offline,2021-04-07,2021-04-27,2021-04-07,2021-04-27,1.0000,3.0000,18119.1400,2587.2000,[AKTIFSPOR],4.0000,20706.3400
7330,a4d534a2-5b1b-11eb-8dbd-000d3a38a36f,Desktop,Desktop,2020-02-16,2021-04-30,2021-04-30,2020-12-18,66.0000,4.0000,843.6800,17599.8900,"[ERKEK, KADIN, AKTIFSPOR]",70.0000,18443.5700
8068,d696c654-2633-11ea-8e1c-000d3a38a36f,Ios App,Ios App,2017-05-10,2021-04-13,2021-04-13,2019-08-15,69.0000,1.0000,82.4800,16836.0900,"[AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]",70.0000,16918.5700
163,fef57ffa-aae6-11e9-a2fc-000d3a38a36f,Mobile,Desktop,2016-11-08,2021-05-12,2021-05-12,2020-07-09,36.0000,1.0000,180.7300,12545.3700,"[ERKEK, AKTIFSPOR]",37.0000,12726.1000
7223,cba59206-9dd1-11e9-9897-000d3a38a36f,Android App,Android App,2013-02-21,2021-05-09,2021-05-09,2020-01-25,130.0000,1.0000,49.9900,12232.2500,"[AKTIFCOCUK, ERKEK, KADIN, AKTIFSPOR]",131.0000,12282.2400
18767,fc0ce7a4-9d87-11e9-9897-000d3a38a36f,Desktop,Desktop,2018-11-24,2020-11-11,2020-11-11,2019-12-06,18.0000,2.0000,64.9700,12038.1800,"[ERKEK, KADIN]",20.0000,12103.1500

In [215]:
#En fazla sipariş veren 10 müşteri
df.sort_values(by="order_num_total", ascending= False).head(10)

,master_id,order_channel,last_order_channel,first_order_date,last_order_date,last_order_date_online,last_order_date_offline,order_num_total_ever_online,order_num_total_ever_offline,customer_value_total_ever_offline,customer_value_total_ever_online,interested_in_categories_12,order_num_total,customer_value_total
11150,5d1c466a-9cfd-11e9-9897-000d3a38a36f,Android App,Desktop,2013-10-11,2021-04-30,2021-04-30,2020-12-24,200.0000,2.0000,684.9700,45220.1300,"[AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]",202.0000,45905.1000
7223,cba59206-9dd1-11e9-9897-000d3a38a36f,Android App,Android App,2013-02-21,2021-05-09,2021-05-09,2020-01-25,130.0000,1.0000,49.9900,12232.2500,"[AKTIFCOCUK, ERKEK, KADIN, AKTIFSPOR]",131.0000,12282.2400
8783,a57f4302-b1a8-11e9-89fa-000d3a38a36f,Android App,Offline,2019-08-07,2020-11-04,2020-09-07,2020-11-04,2.0000,109.0000,10239.4600,143.9800,"[AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]",111.0000,10383.4400
2619,fdbe8304-a7ab-11e9-a2fc-000d3a38a36f,Android App,Offline,2018-10-18,2020-06-30,2018-10-18,2020-06-30,1.0000,87.0000,8432.2500,139.9800,[ERKEK],88.0000,8572.2300
6322,329968c6-a0e2-11e9-a2fc-000d3a38a36f,Ios App,Ios App,2019-02-14,2021-04-05,2021-04-05,2020-02-17,2.0000,81.0000,3997.5500,242.8100,[ERKEK],83.0000,4240.3600
7613,73fd19aa-9e37-11e9-9897-000d3a38a36f,Ios App,Offline,2014-01-14,2021-05-18,2021-01-30,2021-05-18,81.0000,1.0000,1263.7600,32654.3400,"[ERKEK, COCUK, KADIN, AKTIFSPOR]",82.0000,33918.1000
9347,44d032ee-a0d4-11e9-a2fc-000d3a38a36f,Mobile,Mobile,2019-02-11,2021-02-11,2021-02-11,2020-12-24,3.0000,74.0000,4640.7700,543.2800,"[KADIN, AKTIFSPOR]",77.0000,5184.0500
10954,b27e241a-a901-11e9-a2fc-000d3a38a36f,Mobile,Mobile,2015-09-12,2021-04-01,2021-04-01,2019-10-08,72.0000,3.0000,292.9300,5004.9500,"[AKTIFCOCUK, ERKEK, KADIN, AKTIFSPOR]",75.0000,5297.8800
8068,d696c654-2633-11ea-8e1c-000d3a38a36f,Ios App,Ios App,2017-05-10,2021-04-13,2021-04-13,2019-08-15,69.0000,1.0000,82.4800,16836.0900,"[AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]",70.0000,16918.5700
7330,a4d534a2-5b1b-11eb-8dbd-000d3a38a36f,Desktop,Desktop,2020-02-16,2021-04-30,2021-04-30,2020-12-18,66.0000,4.0000,843.6800,17599.8900,"[ERKEK, KADIN, AKTIFSPOR]",70.0000,18443.5700

### RFM Metrics

In [216]:
df["last_order_date"].max()

Timestamp('2021-05-30 00:00:00')

In [217]:
today_date = dt.datetime(2021, 6, 1)
today_date

datetime.datetime(2021, 6, 1, 0, 0)

In [218]:
rfm = df.groupby("master_id").agg({"last_order_date": lambda x: (today_date - x).astype('timedelta64[D]'),
                                   "order_num_total": "sum",
                                   "customer_value_total": "sum"})
rfm.head()

,last_order_date,order_num_total,customer_value_total
master_id,,,
00016786-2f5a-11ea-bb80-000d3a38a36f,10.0000,5.0000,776.0700
00034aaa-a838-11e9-a2fc-000d3a38a36f,298.0000,3.0000,269.4700
000be838-85df-11ea-a90b-000d3a38a36f,213.0000,4.0000,722.6900
000c1fe2-a8b7-11ea-8479-000d3a38a36f,27.0000,7.0000,874.1600
000f5e3e-9dde-11ea-80cd-000d3a38a36f,20.0000,7.0000,1620.3300

In [219]:
rfm.columns = ["recency","frequency","monetary"]
rfm = rfm.reset_index()
rfm.rename(columns = {'master_id':'customer_id'}, inplace = True)
rfm.head()

                            customer_id  recency  frequency  monetary
0  00016786-2f5a-11ea-bb80-000d3a38a36f  10.0000     5.0000  776.0700
1  00034aaa-a838-11e9-a2fc-000d3a38a36f 298.0000     3.0000  269.4700
2  000be838-85df-11ea-a90b-000d3a38a36f 213.0000     4.0000  722.6900
3  000c1fe2-a8b7-11ea-8479-000d3a38a36f  27.0000     7.0000  874.1600
4  000f5e3e-9dde-11ea-80cd-000d3a38a36f  20.0000     7.0000 1620.3300

### RFM Scores

In [220]:
rfm["recency"] = pd.qcut(rfm["recency"],5,[5,4,3,2,1])
rfm["frequency"] = pd.qcut(rfm["frequency"].rank(method= "first"),5,[1,2,3,4,5])
rfm["monetary"] = pd.qcut(rfm["monetary"],5,[1,2,3,4,5])
rfm.head()

                            customer_id recency frequency monetary
0  00016786-2f5a-11ea-bb80-000d3a38a36f       5         4        4
1  00034aaa-a838-11e9-a2fc-000d3a38a36f       1         2        1
2  000be838-85df-11ea-a90b-000d3a38a36f       2         3        4
3  000c1fe2-a8b7-11ea-8479-000d3a38a36f       5         4        4
4  000f5e3e-9dde-11ea-80cd-000d3a38a36f       5         4        5

In [221]:
rfm["RF_SCORE"] = (rfm["recency"].astype(str) + rfm["frequency"].astype(str))
rfm.head()

                            customer_id recency frequency monetary RF_SCORE
0  00016786-2f5a-11ea-bb80-000d3a38a36f       5         4        4       54
1  00034aaa-a838-11e9-a2fc-000d3a38a36f       1         2        1       12
2  000be838-85df-11ea-a90b-000d3a38a36f       2         3        4       23
3  000c1fe2-a8b7-11ea-8479-000d3a38a36f       5         4        4       54
4  000f5e3e-9dde-11ea-80cd-000d3a38a36f       5         4        5       54

### RFM Labeling With REGEX

In [222]:
seg_map = {
        r'[1-2][1-2]': 'hibernating', #1. elemanında 1yada2 2.elemanında 1yada2 görürsen hibernating yaz
        r'[1-2][3-4]': 'at_risk', #1.elemanında 1yada2 2.elemanında 3yada4 görürsen at risk yaz
        r'[1-2]5': 'cant_loose', #1.elemanında 1yada2 2.elemanında 5 görürsen cant_loose
        r'3[1-2]': 'about_to_sleep',
        r'33': 'need_attention', #1.elemanında 3 2.elemanında 3 görürsen need_attention yaz
        r'[3-4][4-5]': 'loyal_customers',
        r'41': 'promising',
        r'51': 'new_customers',
        r'[4-5][2-3]': 'potential_loyalists',
        r'5[4-5]': 'champions'
    }
rfm["segment"]= rfm["RF_SCORE"].replace(seg_map, regex = True)
rfm.head()

,customer_id,recency,frequency,monetary,RF_SCORE,segment
0,00016786-2f5a-11ea-bb80-000d3a38a36f,5,4,4,54,champions
1,00034aaa-a838-11e9-a2fc-000d3a38a36f,1,2,1,12,hibernating
2,000be838-85df-11ea-a90b-000d3a38a36f,2,3,4,23,at_risk
3,000c1fe2-a8b7-11ea-8479-000d3a38a36f,5,4,4,54,champions
4,000f5e3e-9dde-11ea-80cd-000d3a38a36f,5,4,5,54,champions

In [ ]:
# FLO bünyesine yeni bir kadın ayakkabı markası dahil ediyor. Dahil ettiği markanın ürün fiyatları genel müşteri
# tercihlerinin üstünde. Bu nedenle markanın tanıtımı ve ürün satışları için ilgilenecek profildeki müşterilerle özel
# olarak iletişime geçmek isteniliyor. Sadık müşterilerinden(champions, loyal_customers) ve kadın kategorisinden
# alışveriş yapan kişiler özel olarak iletişim kurulacak müşteriler. Bu müşterilerin id numaralarını csv dosyasına
# kaydediniz.

In [232]:
champ_loyal = rfm[(rfm["segment"] == "champions")|(rfm["segment"] == "loyal_cutomers")]["customer_id"]

In [234]:
cust_ids = df[(df["master_id"].isin(champ_loyal))&(df["interested_in_categories_12"].str.contains("KADIN"))]["master_id"]
cust_ids.to_csv("yeni_marka_hedef_müşteri_id.csv", index=False)
cust_ids.shape

(896,)

In [ ]:
# Erkek ve Çocuk ürünlerinde %40'a yakın indirim planlanmaktadır. Bu indirimle ilgili kategorilerle ilgilenen
# geçmişte iyi müşteri olan ama uzun süredir alışveriş yapmayan kaybedilmemesi gereken müşteriler,
# uykuda olanlar ve yeni gelen müşteriler özel olarak hedef alınmak isteniyor. Uygun profildeki müşterilerin
# id'lerini csv dosyasına kaydediniz.

In [197]:
custom = rfm[rfm["segment"].isin(["cant_loose","about_to_sleep","new_customer"])]["customer_id"]
custom

8        0018c6aa-ab6c-11e9-a2fc-000d3a38a36f
20       00414e84-adc6-11e9-a2fc-000d3a38a36f
26       0053a6ea-ad0a-11e9-a2fc-000d3a38a36f
40       007cdfe4-1f54-11ea-87bf-000d3a38a36f
59       00c2168c-a875-11e9-a2fc-000d3a38a36f
                         ...
19912    ff8cd532-544e-11ea-b1db-000d3a38a36f
19920    ffc01688-d643-11e9-93bc-000d3a38a36f
19921    ffc1b6b2-655a-11eb-add3-000d3a38a36f
19925    ffcd5ade-edfc-11e9-9346-000d3a38a36f
19926    ffce3990-26be-11ea-aaaa-000d3a38a36f
Name: customer_id, Length: 2837, dtype: object

In [202]:
cust_ids2 = df[(df["master_id"].isin(custom))&((df["interested_in_categories_12"].str.contains("ERKEK")|(df["interested_in_categories_12"].str.contains("COCUK"))))]["master_id"]
cust_ids2.to_csv("erkek_ve_çocuk_ile_ilgilenen_müşteriler_id.csv", index = False)
cust_ids2.shape

(1590,)